/*--------------------------------------------------------------------- File Name: giesponsive.css ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1800px) and (max-height: 850px) {
  .text-bg-comunidad a {
    margin-bottom: 5px;
    font-size: 1rem;
    padding: 10px 30px;
    margin-bottom: 1vh;
  }
}

@media (min-width: 1500px) and (max-width: 1799) and (max-height: 850px) {
  .text-bg-comunidad a {
    margin-bottom: 5px;
    font-size: 1rem;
    padding: 10px 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .awesome {
    padding-bottom: 20px;
    line-height: 25px;
  }
  .padding_flot {
    font-size: 17px;
    padding-bottom: 0px;
    line-height: 25px;
  }
  .our_text_box p {
    padding-bottom: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 25px;
  }
  ul.padding_left2 li img {
    padding: 0px 5px 0px 11px;
  }
  .flot_left1 {
    font-size: 14px;
  }

  .img-expositores {
    height: 35vh;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 0 14px;
  }
  .our_text_box {
    padding: 20px;
  }
  .hiuouh {
    padding-bottom: 25px !important;
  }
  .padding_bottom1 {
    padding-bottom: 30px;
  }
  .Testimonial_box p,
  .Testimonial_box h4,
  .Testimonial .titlepage {
    padding-left: 60px;
  }

  .contenedor-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .columna-ubicacion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
  }

  .caja-texto {
    position: absolute;
    text-align: right;
    bottom: 1rem;
    right: 2rem;
  }

  .h1-octubre {
    font-size: 0.8rem;
  }

  .titulo-ubicacion{
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: -1rem;
  }
  .subtitulo-ubicacion {
    font-size: 1.2rem;
  }

  .subtitulo {
    font-size: 0.8rem;
  }

  .column {
    margin: 0px 0.5rem;
  }

  .Testimonial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imagen-fondo-cerveza {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img-expositores {
    height: 15vh;
  }
  
  .primera-columna {
    padding-right: 1rem;
    line-height: 1rem;
    font-size: 1rem;
  }
  
  .primera-columna p {
    font-size: 1rem;
  }
  
  .segunda-columna p {
    font-size: 1rem;
  }
  
  .segunda-columna {
    margin-left: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
  }

  .our_text_box {
    padding: 20px 0px 0px 0px;
  }

  .img-expositores {
    height: 25vh;
  }

  .our_two_box {
    margin-bottom: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  .Testimonial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    margin: 0.5rem 0px;
  }
 
  .col-sm-3{
    flex: 0 0 25%;
    max-width: 100%;
  }

  .head_top {
    background: url(../images/banner-02-09.png);
  }
  .mean-container .mean-bar {
    margin-top: 0px;
  }
  .text-bg h1 {
    font-size: 50px;
    line-height: 80px;
  }
  .text-bg {
    padding-right: 0;
  }
  .text-img {
    text-align: center;
  }
  .banner_main {
    padding: 30px 0 90px 0;
  }
  .he_img {
    height: 496px;
  }
  .Testimonial_box i::after {
    content: inherit;
  }
  .padding_bottom1 {
    padding-bottom: 30px;
  }
  .padding_bottom2 {
    padding-bottom: 30px;
  }
  .our_text_box {
    padding: 20px;
  }
  ul.padding_left2 li img {
    padding: 0px 10px 0px 19px;
  }
  .Testimonial_box h4 {
    padding-top: 30px;
  }
  .Testimonial .titlepage {
    text-align: center;
    padding-bottom: 50px;
  }
    .main_form {
      margin: 0;
      padding: 50px 20px;
    }

  .navigation.navbar {
    float: right;
    display: inherit !important;
    padding: 0;
    width: 100%;
  }
  .navigation .navbar-collapse {
    background: #e1ae5a;
    padding: 20px;
    margin-top: 46px;
    position: absolute;
    width: 100%;
    margin-right: 20px;
    z-index: 999;
  }
  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: #000;
  }
  .navigation.navbar-dark .navbar-toggler {
    border: inherit;
    float: right;
    padding-top: 6px;
  }
  .navigation.navbar-dark .navbar-toggler-icon {
    background: url(../images/menu_icon.png);
    background-repeat: no-repeat;
  }

  .contenedor-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .columna-ubicacion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
  }

  .caja-texto {
    position: absolute;
    text-align: right;
    bottom: 1rem;
    right: 2rem;
  }

  .h1-octubre {
    font-size: 0.8rem;
  }

  .titulo-ubicacion{
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-bottom: -1rem;
  }

  .subtitulo-ubicacion {
    font-size: 1.2rem;
  }

  .subtitulo {
    font-size: 0.8rem;
  }

  .posicion-text-comunidad {
    font-size: 10px;
  }

  .imagen-fondo-cerveza {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .limite-altura {
    height: 55vh;
  }

  .img-expositores {
    height: 15vh;
  }
  
  .primera-columna {
    padding-right: 1rem;
    line-height: 1rem;
    font-size: 1rem;
  }
  
  .primera-columna p {
    font-size: 1rem;
  }
  
  .segunda-columna p {
    font-size: 1rem;
  }
  
  .segunda-columna {
    margin-left: 0.5rem;
    line-height: 1rem;
    font-size: 1rem;
  }

  .our_text_box {
    padding: 20px 0px 0px 0px;
  }

  .img-expositores {
    height: 20vh;
  }

  .our_two_box {
    margin-bottom: 40px;
  }

  .text-bg-comunidad a {
    margin-bottom: 20px;
    font-size: 1rem;
    padding: 5px 15px;
  }

}

@media (max-width: 575px) {
  .head_top {
    background: url(../images/banner-02-09.png);
    
  }
  .header {
    padding: 30px 0px 0px 0px;
  }
  .logo {
    text-align: center !important;
    padding-bottom: 6px;
    float: left;
  }
  .text-bg h1 {
    font-size: 33px;
    line-height: 51px;
  }
  .banner_main {
    padding: 30px 0 90px 0;
  }
  .text-img {
    text-align: center;
  }
  .cont h3 {
    font-size: 30px;
    line-height: 45px;
  }
  ul.withi_color {
    padding-left: 4px;
  }
  .padding_bottom2 {
    padding-bottom: 30px;
  }
  .he_img {
    height: 600px;
  }
  .Testimonial_box i::after {
    content: inherit;
  }

  .col {
    flex-grow: 0.5;
  }

  .padding_top3 {
    padding-top: 20px;
  }
  .pa_wi {
    padding-top: 0px;
    font-size: 19px;
    padding-bottom: 15px;
  }
  
  .padding_flot {
    font-size: 19px;
    line-height: 36px;
  }
  ul.like li img {
    padding: 0px 5px 0px 8px;
    margin-left: -10px;
    margin-top: -10px;
    width: 50px;
    height: 30px;
  }
  .flot_left1 {
    font-size: 14px;
  }

  .Testimonial_box h4 {
    padding-top: 30px;
  }
  .Testimonial .titlepage {
    text-align: center;
    padding-bottom: 50px;
  }
  .main_form {
    margin: 0;
    padding: 50px 20px;
  }
  .navigation.navbar {
    float: right;
    display: inherit !important;
    padding: 0;
    width: 100%;
    margin-top: -45px;
  }
  .navigation .navbar-collapse {
    background: #e1ae5a;
    padding: 20px;
    margin-top: 46px;
    position: absolute;
    width: 100%;
    margin-right: 20px;
    z-index: 999;
  }
  .navigation.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0;
    color: #000;
  }
  .navigation.navbar-dark .navbar-toggler {
    float: right;
    margin-right: 2px;
    border: inherit;
  }
  .testimonial_box {
    padding: 0px 19px 40px 20px;
  }
  .navigation.navbar-dark .navbar-toggler-icon {
    background: url(../images/menu_icon.png);
    background-repeat: no-repeat;
  }

  .contenedor-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .columna-ubicacion {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
  }

  .caja-texto {
    position: absolute;
    text-align: right;
    bottom: 0rem;
    right: 2rem;
  }

  .h1-octubre {
    font-size: 0.8rem;
  }

  .titulo-ubicacion{
    font-size: 1.6rem;
    line-height: 1.6rem;
  }

  .subtitulo-ubicacion {
    font-size: 1.2rem;
  }

  .subtitulo {
    font-size: 0.8rem;
  }

  .Testimonial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .column {
    margin: 0.5rem 0px;
  }

  .col-md-12 {
    padding: 0px;
  }
  .primera-columna {
    padding-right: 2rem;
}

.primera-columna p {
  font-size: 1em;
}

.column-perfil{
    width: 400px;
    height: 100%;
}

.texto-comunidad {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.item-comunidad {
  font-size: 1rem;
  line-height: 1rem;
}


.imagen-fondo-cerveza {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div_column_img {
  /* width: 300px; */
  height: 60px;
}

.img-sponsor {
  height: 60px;
}

.limite-altura {
  height: 35vh;
}

.img-expositores {
  height: 15vh;
}

.primera-columna {
  padding-right: 1rem;
  line-height: 1rem;
  font-size: 1rem;
}

.primera-columna p {
  font-size: 1rem;
}

.segunda-columna p {
  font-size: 1rem;
}

.segunda-columna {
  margin-left: 0.5rem;
  line-height: 1rem;
  font-size: 1rem;
}

.magna_top90 {
  margin-top: 0px;
}

.titlepage h2{
  font-size: 2rem;
}

.belgrano-h3 {
  text-align: center;
}

.our_two_box {
  margin-bottom: 40px;
}

.our_text_box {
  padding: 1rem 5px 5px 5px;
}

.imagen-completa {
  margin-bottom: 8rem;
}

.octubre-fest {
  margin-bottom: 5rem;
}

.text-bg-comunidad a {
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 5px 15px;
}

.caja-expositores {
  margin-bottom: 10px;
}


}
